$background: #192330;
$foreground: #cdcecf;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
// $cyan: #7DCFFF;
$white: $foreground;

$cyan: #84c7bc;

* {
  font-family: JetBrainsMono Nerd Font;
  // font-weight: 400;
}

.icon {
  font-family: none;
  font-size: 1.5em;
}

window {
  background-color: unset;
  color: $foreground;
  font-size: 11px;
}

.container {
  background-color: $background;
  opacity: 0.8;
  padding: 0 0.4rem;
  border-radius: 4px;
}

.solid {
  opacity: 1;
}

.clock {
    font-size: 15px;
}

.notification {
    border: 3px solid black;
    padding: 10px;
    border-radius: 4px;
}

.workspace-entry {
  border-bottom: 1px solid transparent;
}

.performance {
  color: black;

  &.Quiet {
    background-color: #75a95d;
  }
  &.Balanced {
    background-color: #ffb866;
  }
  &.Performance {
    background-color: #469fcf;
  }
}

.current {
  background-color: $foreground;
  color: $background;
}

.occupied {
  border-bottom: 2px solid $foreground;
}

button {
  all: unset;
  padding: 0;
  margin: 0;

  .icon {
    padding: 0 0.4em;
    // font-weight: bolder; // does not work on those icons as far as i can tell
  }
}

progressbar {
  border: none;
  > trough {
    min-height: 2.3em;
    min-width: 5em;
    border: none;
    > progress {
      min-height: 2.3em;
      border: none;
    }
  }
}

.brightness,
.volume {
  background-color: transparent;
  color: $black;

  progressbar {
    min-width: 6em;
    background-color: transparent;
    > trough {
      background-color: $white;
      > progress {
        background-color: $yellow;
      }
    }
  }
}

.volume {
  progressbar > trough > progress {
    background-color: $cyan;
  }
}

.bat {
  color: $black;

  &.good {
    background-color: green;
  }
  &.medium {
    background-color: yellow;
  }
  &.low {
    background-color: orange;
  }
  &.critical {
    background-color: red;
  }
}

.powerbutton {
  padding: 0;
}

// You have one guess!!
.trans {
  background-color: transparent;
}

// Utility for much higher radius
.rounded {
  border-radius: 50px;
}
